.container {
  padding: 60px 20px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/* services.module.css */
--------------------
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 420px;
  text-align: left;
  visibility: hidden;
}

.split-word {
  will-change: transform, opacity;
}
------------------------------
.serviceCard {
  display: flex;
  flex-wrap: wrap;
  background: #111;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

.left {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  color: white;
}

.right {
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightImg {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 20px;
}

.heading {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 12px;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
}

.highlight {
  font-size: 1.3rem;
  margin: 20px 0;
  color: #fff;
  font-weight: 500;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.icon {
  font-size: 1.3rem;
  color: silver;
  flex-shrink: 0;
  margin-top: 4px;
}

.iconHeading {
  color: silver;
  font-size: 1.5rem;
  margin-right: 10px;
  vertical-align: middle;
}

.featureTitle {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
}

.featureDesc {
  margin: 5px 0 0;
  font-size: 0.95rem;
  color: #ccc;
}

.breakdown {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.breakdown li {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

.breakdown strong {
  color: #fff;
  font-size: 1.1rem;
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .serviceCard {
    flex-direction: column;
    padding: 30px 20px;
  }

  .rightImg {
    max-width: 100%;
  }
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 20px 60px;
  max-width: 1300px;
  margin: auto;
  flex-wrap: wrap;
}

.heroContent {
  flex: 1;
  min-width: 300px;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin-bottom: 15px;
}

.heroSubtitle {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 600px;
}

.heroImage {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.heroImage img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  object-fit: cover;
}



